# Artefatos finais do projeto
/dist/

# Arquivos de controle pessoal
TODO.md
*.local

# Arquivos de configuração de IDEs
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de sistema (Mac e Windows)
.DS_Store
Thumbs.db
