# Arquivos executáveis gerados na raiz
*.jar
*.exe
/*.js

# Arquivos de configuração de IDEs
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de sistema (Mac e Windows)
.DS_Store
Thumbs.db
