<dialog id="validation-modal" class="validation-dialog">
    <div class="modal-content error-theme">
        <div class="modal-header">
            <h2 class="modal-title">
                <span
                    style="vertical-align: middle; margin-right: 8px" class="ui-icon icon-triangle-alert icon-inline" aria-hidden="true"></span>
                Correções Necessárias
            </h2>
        </div>
        <div class="modal-body">
            <ul id="validation-error-list" class="validation-list"></ul>
        </div>
        <div class="modal-footer">
            <button id="close-modal-btn" class="btn btn-close-modal">Entendi</button>
        </div>
    </div>
</dialog>
