<dialog id="validation-modal" class="validation-dialog">
    <div class="modal-content error-theme">
        <div class="modal-header">
            <h2 class="modal-title">
                <img
                    src="../assets/icons/lucid/triangle-alert.svg"
                    class="icon-inline"
                    style="vertical-align: middle; margin-right: 8px"
                    alt="" />
                Correções Necessárias
            </h2>
        </div>
        <div class="modal-body">
            <ul id="validation-error-list" class="validation-list"></ul>
        </div>
        <div class="modal-footer">
            <button id="close-modal-btn" class="btn btn-close-modal">Entendi</button>
        </div>
    </div>
</dialog>
